In [1]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [7]:
hardcoded = pd.read_clipboard()
hardcoded.head()

,VTI,VOO,VEA,VWO,VIG,XLE,SCHP,MUB,VTV,VOE,...,BIL,BBH,RYH,QLTA,SIVR,RHS,VCSH,ISTB,IHY,IEF
12/31/2015,103.81,186.93,36.72,32.71,77.76,59.89,53.13,110.29,81.52,85.64,...,45.68,126.95,153.49,50.27,13.56,115.53,78.74,49.56,22.28,105.59

In [8]:
hardcoded.index.name = 'Date'
hardcoded

,VTI,VOO,VEA,VWO,VIG,XLE,SCHP,MUB,VTV,VOE,...,BIL,BBH,RYH,QLTA,SIVR,RHS,VCSH,ISTB,IHY,IEF
Date,,,,,,,,,,,,,,,,,,,,,
12/31/2015,103.81,186.93,36.72,32.71,77.76,59.89,53.13,110.29,81.52,85.64,...,45.68,126.95,153.49,50.27,13.56,115.53,78.74,49.56,22.28,105.59

In [9]:
returns = pd.read_excel('returns.xlsx')
returns.head()

,Date,SPY,IVV,VTI,EFA,QQQ,GLD,VOO,IWM,VNQ,...,ISTB,SIZE,JKH,DFE,VGK,EWJ,EEM,IGOV,IBND,IHY
0,2004-08-09,0.1404,0.0935,0.0293,-0.1116,0.2445,-0.001046,0.11917,-0.3181,0.155180,...,-0.045174,0.196200,0.22970,-1.69510,-1.17600,0.9524,0.8356,-0.082694,0.55320,0.111610
1,2004-08-10,1.2897,1.0276,1.1928,0.8194,1.2500,0.128410,1.29990,1.5667,0.444860,...,-0.182110,1.177000,0.93570,0.71234,0.45518,0.8386,1.1265,0.268350,0.51598,0.150600
2,2004-08-11,-0.2030,0.0647,-0.2512,-0.3325,-0.8732,-1.414500,-0.24755,-0.1333,-0.099257,...,0.061257,-0.023394,-0.51080,-1.40410,-1.98370,0.8316,-0.9283,-0.901700,-0.60766,-0.236310
3,2004-08-12,-1.0910,-1.0996,-1.1042,-1.1119,-1.3670,0.078332,-1.16230,-1.4397,-1.065700,...,0.079851,-0.904080,-0.46673,0.50959,0.30423,-1.5464,-1.1179,0.243570,-0.10694,0.082218
4,2004-08-13,0.1963,0.2149,0.1567,0.5997,0.1540,0.651120,0.16044,-0.0193,0.037734,...,0.117020,0.019320,-1.34590,1.53010,0.71799,-1.1518,0.1568,1.012200,1.02210,0.463560

In [10]:
returns2 = returns.set_index('Date')
returns2.head()

,SPY,IVV,VTI,EFA,QQQ,GLD,VOO,IWM,VNQ,IWF,...,ISTB,SIZE,JKH,DFE,VGK,EWJ,EEM,IGOV,IBND,IHY
Date,,,,,,,,,,,,,,,,,,,,,
2004-08-09,0.1404,0.0935,0.0293,-0.1116,0.2445,-0.001046,0.11917,-0.3181,0.155180,0.0000,...,-0.045174,0.196200,0.22970,-1.69510,-1.17600,0.9524,0.8356,-0.082694,0.55320,0.111610
2004-08-10,1.2897,1.0276,1.1928,0.8194,1.2500,0.128410,1.29990,1.5667,0.444860,1.3395,...,-0.182110,1.177000,0.93570,0.71234,0.45518,0.8386,1.1265,0.268350,0.51598,0.150600
2004-08-11,-0.2030,0.0647,-0.2512,-0.3325,-0.8732,-1.414500,-0.24755,-0.1333,-0.099257,-0.4102,...,0.061257,-0.023394,-0.51080,-1.40410,-1.98370,0.8316,-0.9283,-0.901700,-0.60766,-0.236310
2004-08-12,-1.0910,-1.0996,-1.1042,-1.1119,-1.3670,0.078332,-1.16230,-1.4397,-1.065700,-1.0069,...,0.079851,-0.904080,-0.46673,0.50959,0.30423,-1.5464,-1.1179,0.243570,-0.10694,0.082218
2004-08-13,0.1963,0.2149,0.1567,0.5997,0.1540,0.651120,0.16044,-0.0193,0.037734,-0.2080,...,0.117020,0.019320,-1.34590,1.53010,0.71799,-1.1518,0.1568,1.012200,1.02210,0.463560

In [15]:
returns2[hardcoded.columns.values]

KeyError: "['VEA' 'VWO' 'MUB' 'VTIP' 'BNDX' 'VWOB' 'PXF' 'VSS' 'PDN' 'PXH' 'GQRE'\n 'WDIV' 'ZMLP' 'VGIT' 'VCIT' 'GLTR' 'BKLN' 'CMF' 'TRRFX' 'TRRAX' 'TRRGX'\n 'TRRBX' 'TRRHX' 'TRRCX' 'TRRJX' 'TRRDX' 'TRRKX' 'TRRMX' 'TRRNX' 'TRRLX'] not in index"